* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.navigation {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 2rem 8rem;
}

.navigation ul {
    display: flex;
    gap: 5rem;
}

.navigation li {
    font-size: 1.1rem;
    list-style-type: none;
}

.navigation a {
    padding: 1.4rem 3rem;
    border-radius: 10px;
    background-color: #fff;
    color: green;
    text-decoration: none;
}

.hero-container {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.81), rgba(255, 255, 255, 0.766)),
        url("./images/WhatsApp\ Image\ 2022-07-05\ at\ 10.47.41\ AM.jpeg");
    padding: 4rem 8rem 7rem 8rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;
}

.hero-content>* {
    flex: 1;
}

.hero-content h1 {
    font-size: 4.5rem;
    color: green;
    margin-top: 4rem;
}


.search-form {
    padding: 2rem 4rem;
    background-color: #eee;
    color: green;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    gap: 3rem;
}

.search-form label {
    cursor: pointer;
}

.search-form input[type='text'] {
    padding: 1rem 4rem;
    background-color: #eee;
    border: 1px solid #222;
    border-radius: 10px;
}

.search-form button {
    background-color: orangered;
    border: 0;
    color: #fff;
    border-radius: 10px;
    padding: 1rem 3rem;
    cursor: pointer;
}

.image-box {
    /* display: flex; */
    position: relative;
}


.image-box img {
    filter: grayscale(1);
    /* width: 100%; */
    height: auto;
    border-radius: 2rem;
    position: absolute;
}

.image-box img:nth-of-type(1) {
    width: 25rem;
    top: 0;
    left: 0;
}

.image-box img:nth-of-type(2) {
    width: 20rem;
    top: 9rem;
    right: 4rem;
    z-index: 1;
}

.image-box img:nth-of-type(3) {
    width: 27rem;
    top: 14rem;
    left: 5rem;
}